<mat-card>
  <mat-card-header>
      <mat-card-title>{{ recipe.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{recipe.picture}}">
  <mat-card-content>
      <div>
          {{ recipe.name }}
      </div>
      <div *ngIf="isExpanded">
          <br/> Ingredients :
          <ul class="items">
              <li *ngFor="let ingredient of recipe.ingredients">
                  {{ ingredient.name }} : {{ ingredient.quantity }} {{ ingredient.unit }}
              </li>
          </ul>
      </div>
      <div *ngIf="isExpanded">
          <br/> Intructions :
          <ul class="items">
              <li *ngFor="let instruction of recipe.instructions | toArray">{{ instruction }}</li>
          </ul>
      </div>
  </mat-card-content>
  <mat-card-actions>
      <div class="buttons">
          <button (click)="showDetails()" mat-raised-button color="primary">{{ buttonText }}</button>
          <a href="#" routerLink="{{recipe.id}}">
              <button mat-raised-button color="accent">epicc details</button>
          </a>
          <button (click)="delete()" mat-raised-button color="primary">delete</button>
      </div>
  </mat-card-actions>
</mat-card>