<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">
    <i class="fas fa-chevron-circle-right"></i>
    ID : {{ company.id }}
  </div>

  <div class="card-body">

    <h4 class="card-title">
      <i class="fas fa-industry"></i> Company :
      <span class="text-primary">{{ company.name }}</span>
    </h4>
    <p class="card-text">Click below to have more information about this company !</p>
  </div>

  <div class="modal-footer">
      <button title="Click here if you want to edit or delete this company" type="button" class="btn btn-primary" routerLink="/companies/{{ company.id }}">Learn More</button>
  </div>
</div>
