<!-- <card class=map>
  <card-header class="title">
    <card-title> {{ company.name }} </card-title>
  </card-header>

  <card-content>
    <h4>Computer List :</h4>
    <app-computer class="col" *ngFor="let computer of computers" [computer]="computer"></app-computer>
  </card-content>
</card> -->

<!-- <div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">
    <i class="fas fa-chevron-circle-right"></i>
    ID : {{ company.id }}
  </div>

  <div class="card-body">

    <h4 class="card-title">

    </h4>
    <p class="card-text">Click below to have more information about this company !</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary">Learn More</button>
  </div>
</div> -->
<div class="jumbotron margintop">
  <h3 class="display-3">
    <i class="fas fa-industry"></i> Company :
    <p class="text-primary">{{ company?.name }}</p>
  </h3>
  <p class="lead">Linked to this company are the following computers:</p>
  <hr class="my-4">
  <app-computer class="col" *ngFor="let computer of computers" [computer]="computer"></app-computer>
</div>