<div class="card border-primary mb-3 mx-auto" style="max-width: 30rem;">
  <div class="card-body">
    <form [formGroup]="companyForm">
      <fieldset>
        <legend>Company creation form :</legend>
        <div class="form-group">
          <label for="nameCompany">Company name:</label>
          <input class="form-control" id="nameCompany" placeholder="Name" type="text" formControlName="name">
        </div>
        <button class="btn btn-primary btn-block" (click)="addCompany()"> Create </button>
      </fieldset>
    </form>
    <p type="hidden">Form value: {{ companyForm.status | json }}</p>
  </div>
</div>