<form [formGroup]="computerForm">
  Computer name :<br>
  <input type="text" name="name" value="Name" formControlName="name">
  <br>
  Company :<br>
  <select type="text" name="name" value="Name" formControlName="companies">
    <option value = "0" selected >--</option>
    <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
  </select>
  <br>
  Introduced date :<br>
  <input type="text" name="name" value="Name" formControlName="introduced">
  <br>
  Discontinued date :<br>
  <input type="text" name="name" value="Name" formControlName="discontinued">
  <br>
  <br>
  <button (click)="addCompany()" > Add </button>
</form>
<p>Form value: {{ computerForm.status | json }}</p>
