<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">
        <i class="fas fa-chevron-circle-right"></i>
        ID : {{ computer.id }}
        <label>Delete:
          <input type="checkbox" ng-model="checkboxModel.value1" (click)="addComputerToDelete()">
        </label><br/>
    </div>

    <div class="card-body">

        <h4 i18n class="card-title">
            <i class="fas fa-laptop"></i> Computer :
            <p class="text-primary">{{ computer.name }}</p>
        </h4>
        <p i18n class="card-text">Click below to have more information about this computer !</p>
        <div *ngIf="isExpanded">
            <p i18n class="card-text">Introduced : {{computer.introduced}}</p>
            <p i18n class="card-text">Discontinued : {{computer.discontinued}}</p>
        </div>
    </div>

    <div class="card-footer">
        <button (click)="showDetails()" type="button" class="btn btn-outline-primary">{{buttonText}}</button>
        <button i18n title="Click here if you want to edit or delete this computer" routerLink="/computer/{{ computer.id }}" type="button" class="btn btn-primary">Learn More</button>
    </div>
</div>
