<input class="form-control mr-sm-2" placeholder="Search" type="text" [(ngModel)]="search">
<h3> Ordonner par :</h3><button (click)="setOrder('ID')" >ID</button><button (click)="setOrder('NAME')" >Nom</button>
<br>
<h3> Ordre :</h3><button (click)="setAsc(true)">Croissant</button><button (click)="setAsc(false)">Décroissant</button>
<div class="card-columns margintop">
    <app-company class="col" *ngFor="let company of companies" [company]="company"></app-company>
</div>
<button *ngFor="let page of before"  (click)="updatePage(page)" >{{page}}</button>
<button class="selected-button" >{{this.page}}</button>
<button *ngFor="let page of after"  (click)="updatePage(page)" >{{page}}</button>
