<div class="jumbotron margintop">
  <h1 class="display-3">Hello, and welcome !</h1>
  <p class="lead">This application allows you to manage the Computers you own and the Companies linked to them.</p>
  <hr class="my-4">
  <p>You can choose below one of the several services we give access to:</p>
  <div class="container home-container">
    <div class="item">
      <i class="fas fa-industry fa-10x"></i>
    </div>
    <div class="item">
      <i class="fas fa-angle-double-right fa-8x"></i>
    </div>
    <div class="btn-group-vertical item">
      <a class="btn btn-outline-primary btn-lg" href="/companies" role="button">List Companies</a>
      <a class="btn btn-outline-primary btn-lg" href="#" role="button">Add a Company</a>
      <a class="btn btn-outline-primary btn-lg" href="#" role="button">Edit a Company</a>
      <a class="btn btn-outline-primary btn-lg" href="#" role="button">Delete a Company</a>
    </div>
  </div>
  <hr class="my-4">
  <div class="container home-container">
    <div class="item">
      <i class="fas fa-laptop fa-9x"></i>
    </div>
    <div class="item">
      <i class="fas fa-angle-double-right fa-8x"></i>
    </div>
    <div class="btn-group-vertical item">
      <a class="btn btn-outline-primary btn-lg" href="#" role="button">List Computers</a>
      <a class="btn btn-outline-primary btn-lg" href="#" role="button">Add a Computer</a>
      <a class="btn btn-outline-primary btn-lg" href="#" role="button">Edit a Computer</a>
      <a class="btn btn-outline-primary btn-lg" href="#" role="button">Delete a Computer</a>
    </div>
  </div>
</div>